[class*="col-"] {
    float: left;
    padding: 15px;
}

  * {
    box-sizing: border-box;
}
.header{
    background-image: linear-gradient(90deg, red,white,red);
    color: black;
    padding: 15px;
    text-align: center;
}

.main::after {
    content: "";
    clear: both;
    display: block;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.menu li {
    padding: 5px;
    margin-bottom: 7px;
    background-color:white;
    border-style: solid;
    border-width: 10px;
    border: black;
    color: red;
}


.menu li:first-child{
    padding: 5px;
    margin-bottom: 7px;
    background-color: red;
    color: #ffffff;
}


.menu li:last-child{
    padding: 5px;
    margin-bottom: 7px;
    background-color:red;
    color: #ffffff;
}

.menu li:first-child:hover{
    background-color: white;
    color: red;
}

.menu li:last-child:hover{
    background-color: white;
    color: red;
}



.menu li:hover {
    background-color: red;
    color: white;
}

.content {
    padding: 10px;
    text-align:left;
    
}

.button {
    display:inline-block;
    padding: 10px 20px;
    background-color: red; /* Same as text color */
    color: white; /* White text */
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Hover Effect */
.button:hover {
    background-color: rgb(213, 14, 14); 
    opacity: 0.5;
}


.section img{
    display: block;
    height: 98%;
    width: 98%;
}

.section p{
    display: none;
}

.section p:target {
    display: block;
}

.section p:target ~ img{
    display: none;
}

#home{
    display: none;
}

#home:target{
    display: block;
}

#provtr{
    display: none;
}

#provtr:target{
    display: block;

}



.right {
    background-color:red;
    color: #ffffff;
    text-align: center;
}

.footer {
    padding: 15px;
    text-align: center;
    color:  black;
    font-weight: bold;
    background-image: linear-gradient(90deg, red,white,red);
}




 /* Mobile First - For mobile phones: */
[class*="col-"] {
    width: 100%;

}

  /* For desktop: */
@media only screen and (min-width: 768px) {
.col-1,.col-3 {width: 25%;}
.col-2 {width: 50%;}
}




